@import url('vars.css');

header {
    position: fixed;
    display: flex;
    width: 100%;
    padding: 0.3rem 2%;
    justify-content: space-between;
    background: rgba(240,240,240,0.85);
    align-items: center;
    z-index: 9;
}
nav a {
    color: var(--color1, #764ba2);
    font-size: 0.9rem;
    margin-left: 10px;
    text-decoration: none;
}
.logo {
    background-color: var(--color1, #764ba2);
    border-radius: var(--bor-rad, 8px);
    color: var(--white-color, #fff);
    display: flex;
    align-items: center;
    padding: 5px;
}

footer {
    background-color: var(--off-white, #f0f0f0);
    padding: 2rem 1rem 1rem;
    text-align: center;
    font-size: 0.9rem;
  }
  footer a {
    color: var(--off-black);
    margin: 1rem;
  }
  footer p {
    margin-bottom: 0.5rem;
  }
  